.venv
.vscode
.idea
.dev
.chat
.DS_Store
__pycache__

venv

backend/logs
backend/venv
backend/__pycache__
backend/dev_sql.db

frontend/build
frontend/node_modules
frontend/__pycache__

mkdocs/venv
mkdocs/__pycache__
mkdocs/site

.history
backend/app/config/.env.dev
backend/app/config/.env.dev1
