.venv
.vscode
.idea
.dev
.chat
.DS_Store
__pycache__

venv

backend/logs
backend/venv
backend/__pycache__
backend/dev_sql.db
backend/site/*

frontend/build
frontend/node_modules
frontend/__pycache__

devops/frontend/dist

.history
.env.prod
.env.production
docker-compose.prod.yaml
docker-compose.yaml
backend/env/.env.prod
frontend/.env.production
